<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:include="temp::head"></head>

	<body>

		<div class="site-wrapper">

			<div class="site-wrapper-inner">

				<div class="cover-container">
					<div class="masthead clearfix"  th:include="temp::nav"> </div>
					<div class="jumbotron">
						<a href="#" class="btn btn-lg btn-default">Opt-Deploy</a>
						<a href="#" class="btn btn-lg btn-default">Opt-Deploy</a>
						<a href="#" class="btn btn-lg btn-default">Opt-Deploy</a>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>